
15/7/25
<br>
Why Fish Don't Exist
<br>
by Lulu Miller
<br>
Excerpt:
<p>
Picture the person you love the most.  Picture them sitting on the couch, 
eating cereal, ranting about something totally charming, like how it bothers them when
people sign their emails with a single initial instead of taking those four extra 
keystrokes to just finish the job - </p>
<p>
Chaos will get them.  </p>
<p>
Chaos will crack them from the outside - with a falling branch, a speeding car, 
a bullet - or unravel them from the inside, with the mutiny of their very own cells.  
</p>
<router-outlet></router-outlet>
